*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background:rgb(27, 1, 27);
}

.container {
    min-width: 360px;
    width: 100%;
    height: auto;
    color: rgb(238, 238, 211);
}

.title-box{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
}

.title-box > h1 {
    padding: 38px 0;
    background: rgb(128, 0, 128);
    width: 100%;
    font-size: 2.5rem;
}

.description-box {
    margin: 40px;
    padding: 30px 40px;
    background: rgb(27, 1, 27);
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.375rem;
    color: rgb(224, 212, 230);
    line-height: 1.8rem;
    text-align: center;
}

.form-box {
    padding: 0 30px 30px 30px;
}

.questions {
    margin: 20px 0;
    padding: 20px;
    background: rgb(241, 241, 230);
    border-radius: 10px;
    color: rgb(44, 41, 41);
}

.phrase {
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.8rem;
}

.options {
    padding: 6px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

.button-box {
    text-align: center;
}

button {
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 15px;
    border: 3px solid rgb(128, 0, 128);
    font-size: 1.1rem;
    font-weight: bolder;
    color: rgb(206, 158, 202);
    cursor: pointer; 
}

button:hover {
    background-color: rgb(128, 0, 128);
    color: #fff;
}

button:active {
    background-color: rgb(219, 132, 219);
    position: relative;
    top: 1px;
}

.feedback-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.feedback-message { 
    width: 100%;
    margin: 20px 0;
    padding: 40px;  
    background-color: rgb(248, 248, 49);
    box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
    font-family: monospace;
    font-size: 1.375rem;
    text-align: center;
    font-weight: 900;
    color: rgb(255, 34, 34);
}

.help-message {
    margin: 10px 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.hidden {
    display: none;
}
